.main-container {
    min-height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

/* .box-link {
    display: flex;
} */

.box {
    width: 100px;
    height: 80px;
    border: 1px solid black;
    background: transparent;
    transition: 0.5s;
}

.box:hover {
    cursor: pointer;
    background-color: #f5f5f5;
}