.main-container {
    min-height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 2%;
}

.main-table {
    border-collapse: collapse;
}

.main-table td {
    /* border: 1px solid #888; */
    padding: 1% 6px;
    padding-bottom: 1%;
    align-items: center;
}

.stage-label {
    font-size: x-small;
    color: palevioletred;
    text-align: center;
    width: 100%;
    height: 100%;
    word-break: break-word;
}

.carlines {
    min-width: 180px;
    max-width: 260px;
    text-align: left;
    color: lightslategray;
}

.sw-release-name-header, .integrator-name-header {
    color: turquoise;
    min-width: 15vw;
}

.sw-release-name {
    height: 50px;
    width: 400px;
    font-family: "Press Start 2P";
    color: red;
    border: none;
    text-align: center;
    background: transparent;
    text-transform: uppercase;
}

.integrator-name {
    height: 50px;
    width: 300px;
    font-family: "Press Start 2P";
    color: goldenrod;
    border: none;
    text-align: center;
    background: transparent;
}

.sw-release-name::placeholder, .integrator-name::placeholder {
    color: #ffffff;
    opacity: 0.15;
    text-transform: capitalize;
}


.box {
    width: 150px;
    height: 80px;
    border: 1px solid rgb(255, 255, 255);
    background: transparent;
    position: relative;
    overflow: hidden;
}

.box:hover {
    cursor: pointer;
    background-color: rgb(29, 29, 29);
    transform: scale(1.05);
    z-index: 1; 
    border: none;
}

.box-fill {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background: limegreen;
    width: 0%;
    transition: width 0.5s;
}

.box-progress-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 0.7em;
    color: #ffffff;
    opacity: 0.3;
}

.box-timestamp {
    font-size: xx-small;
    color: #888;
    margin-top: 10%;
    text-align: center;
    min-height: 1.2em; /* Reserve space even if empty */
    height: 1.2em;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.box-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reset-buttons-column {
    padding-left: 5em;
    padding-right: 5em;
}

.reset-buttons-column button {
    color: white;
}

.reset-buttons-column button:hover {
    background-color: red;
}