@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

/* Header styles for navigation buttons and title */
.stage-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1em;
    width: 100vw;
    box-sizing: border-box;
    padding: 0 2vw;
}

.stage-title {
    margin: 0 auto;
    color: orange;
    text-align: center;
    flex: 1;
}

.stage-navigation-button {
    font-size: 1.5em;
    background: none;
    width: 5vw;
    color: rgb(0, 255, 0);
    cursor: pointer;
    opacity: 1;
    border: none;
}

.stage-navigation-button:hover {
    color: red;
}

.stage-navigation-button:focus {
    outline: none;
    border: none;
}

.stage-navigation-button:disabled {
    opacity: 0.3;
    cursor: default;
    color: rgb(0, 255, 0);
}

h1 {
    color: orange;
}

.layout {
    min-height: 100vh;
    min-width: 100vw;
    margin: 0;
    font-family: "Press Start 2P";
}

.checklist {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 5%;
    padding-top: 2%;
    line-height: 3;
    text-align: left;
    width: 90%;
}

.checklist-item {
    text-align: left;
    width: 100%;
}

.checklist a {
    color: skyblue;
}

.checklist a:hover {
    color: blue;
}

.checklist span {
    color: white;
}

.checklist-item input[type="checkbox"] {
    width: 1.7em;
    height: 1.7em;
    accent-color: lime;
    margin-right: 1.2em;
    margin-left: 0.5em;
    padding: 0.5em;
    cursor: pointer;
}

/* Timestamp for each checklist step */
.step-timestamp {
    min-width: 120px;
    display: inline-block;
    color: rgb(125, 125, 125);
    font-size: x-small;
    margin-right: 0.5em;
    text-align: right;
}

.buttons {
    display: flex;
    justify-content: space-around;
    padding: 3%;
}

.tickall-button {
    background-color: darkslategrey;
    color: white;
    border: none;
    height: 3em;
    width: 10em;
}

.tickall-button:hover {
    background-color: limegreen;
}

.reset-button {
    background-color: darkslategrey;
    color: white;
    border: none;
    height: 3em;
    width: 10em;
}

.reset-button:hover {
    background-color: red;
}

